/* Structural Elements */
header {
    background-color: orange;
    padding: 10px;
  }
  
  nav {
    background-color: red;
    padding: 10px;
  }
  
  footer {
    background-color: green;
    padding: 10px;
  }
  
  /* Typography */
  h1, h2, h3 {
    font-family: Arial, sans-serif;
    color: green;
  }
  
  p {
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 5px solid black;
  }
  
  /* Link Pseudo-Classes */
  a:link {
    color: black;
  }
  
  a:visited {
    color: blue;
  }
  
  a:hover {
    color: yellow;
  }
  
  /* Class Selectors */
  .main-header, .navigation, .main-avatar, .bottom {
    color: black;
  }
  
  