body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffa500;
  color: #000000;
  padding: 10px;
  text-align: center;
}
.main-header {
  gap: 20px;
}
.logo {
  width: 105px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 300px;
}

nav {
  background-color: red;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  /* font-weight: bold; */
  margin: 0 10px;
}

nav a:hover {
  color: #ffff00;
}

footer {
  background-color: #008000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.form-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  text-align: left;
}

input,
textarea,
select,
button {
  margin-top: 5px;
  padding: 10px;
  font-size: 1rem;
}

button {
  margin-top: 20px;
  width: 40%;
  align-self: center;
}
